body{
	background: #ffffff;
}

/*table*/
#myTable {
	position:relative;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    max-width:1280px;
    table-layout:fixed;
    font-size: 1.2em;
    border: 2px solid #548B54;
    text-align: center;
    margin-bottom:100px;
    display:block;
    overflow: auto;
}

#myTable input[type="text"] {
	border:1px solid white;
	text-align: center;
	width:100%;
}

#myTable input[type="text"]:focus{
	border: 1px solid rgb(86, 180, 239);
  	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

#myTable input[type="number"]:focus{
	border: 1px solid rgb(86, 180, 239);
  	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

#myTable input[type="number"] {
	border:1px solid white;
	text-align: center;
	width:100%;
}

#myTable tr:nth-child(even) input[type="text"]{
	background-color: #A2CD5A;
	border:1px solid #A2CD5A;
}

#myTable tr:nth-child(even) input[type="number"]{
	background-color: #A2CD5A;
	border:1px solid #A2CD5A;
}
#myTable th{
	background:#8B7500;
	color:white;
	font-weight:bold;
}

td, th {
    border: 2px solid #548B54;
    text-align: left;
    padding: 8px;
    text-align: center;
    height:40px;
    /*min-width:20%;*/
}

tr:nth-child(even) {
    background-color: #A2CD5A;
}

#rowBtn, #removeBtn{
	width:70px;
	height:30px;
	text-align: center;
	font-style: bold;
}

h1{
	color: 
}


/* new element */
tfoot{
	font-weight: bold;
}

.sumQty, .sumVol, .sumAmt{
	vertical-align: middle;
	text-align:middle;
}

[contenteditable='true']:before {
    content: "\feff ";
}

[contenteditable]:focus {
  border: 1px solid rgb(86, 180, 239);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.diaryForm{
	float:right;
	margin-bottom:20px;
}